

<%- include("partials/header.ejs") -%>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  

  

 
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="map.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>



<%- include("partials/footer.ejs") -%>
